[Unit]
# 服务名称，可自定义
Description = lucky server
After = network.target syslog.target
Wants = network.target

[Service]
Type = name
# 启动命令
ExecStart = /path/to/lucky -c /path/to/app-prod.yml

[Install]
WantedBy = multi-user.target
