[Unit]
# 服务名称，可自定义
Description = lucky server
After = network.target syslog.target
Wants = network.target

[Service]
Type = simple
EnvironmentFile = /home/fengjx/app/lucky/app-demo.env
# 启动命令
ExecStart = /home/fengjx/app/lucky -c /home/fengjx/app/lucky/app-demo.yml

[Install]
WantedBy = multi-user.target
